.nav-footer {
	background-color: $link-hover-color;
}

.footer-container {
  padding: 2% 0;
  margin: 20px 0;
  font-size: 13px;
  
  a {
	  color: #fff;
  	
  }
  a:hover {
  	color: $link-color;
  }
}

.footer-nav {
	list-style: none;
	padding-left: 0;

	li {
		float: left;
		margin-right: 5px;
	}
}

	.footer-container {
		.logo {
			margin-right: 50px;
		}
	}

	.footer-nav {
	  float: left;
	  margin: 0;
	  li {
	  	margin: 12px 2em 0 0;
	  }
	}

@media (max-width: 768px) {
	.footer-nav {
		margin-top: 10px;
		li{
			margin-bottom: 10px;
		}
	}
}