<div ng-controller="FormCtrl" class="text-center">
	<h2 class="form-header">See Percolate In Action</h2>
	<div class="form-container">
		<form ng-submit="sendEmail()" name="demoForm" novaildate>
			<div class="form-group" ng-repeat="input in inputs">
				<input type="text" ng-model="email[input]" placeholder="{{input}}" class="form-control" ng-required="true" ng-minlength="2">
			</div>
			<div class="form-group">
				<input type="email" ng-model="email['Company Email']" class="form-control" placeholder="Company Email" ng-required="true">
			</div>
			<div class="form-group">
				<input type="text" ng-model="email['Phone Number']" class="form-control" ng-required="true" ui-mask="{{'(999) 999-9999'}}" ui-mask-placeholder="______________" placeholder="Phone Number">
			</div>
			<button type="submit" class="btn btn-primary" ng-disabled="demoForm.$invalid">See Percolate</button>
		</form>
		<p class='help-block' ng-class='{red: message.error, green: !message.error}'>{{message.text}}</p>
	</div>
</div>