$nav-font: "Sentinel A","Sentinel B",Georgia,serif;
$nav-secondary-font: "Helvetica Neue",Helvetica,Arial,sans-serif;
$hover-color: #f16421;

.primary-nav {
	font-family: $nav-font;
	font-size: 18px;
}
.secondary-nav {
	font-family: $nav-font;
	font-size: 18px;
}

.nav {
	ul {
		line-height: 18px;
	}
	li {
		float: left;
		margin-right: 5px;
	}
}

.logo {
	float: left;
	width: 200px;
	height: 30px;
}

.nav-container {
  width: 100%;
}

.nav-toggle {
	margin-top: 0;
	border: 0px solid transparent;
}

.navbar-collapse {
	border-top: 0px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: $hover-color;
}

.navbar-default {
	background-color: #fff;
}

.navbar-toggle {
	margin-top: 0px;
}

.brand {
	margin-top: 5px;
}

.navbar-header {
  margin-top: 5px;
  margin-right: 5px;
}

.navbar-static-top {
  margin-bottom: 40px;
  margin-top: 20px;
  border-width: 0 0 0px;
}

@media (min-width: 1180px) {
  .secondary-nav {
  	font-size: 13px;
  	font-family: $nav-secondary-font;
  	margin-top: 5px;
  }
}

