.case-study-oldspice {
	background-image: url('http://rack.2.mshcdn.com/media/ZgkyMDEyLzEyLzA0LzFjL29sZHNwaWNlbGF1LmJVYi5qcGcKcAl0aHVtYgk5NTB4NTM0IwplCWpwZw/66bf96b9/0da/old-spice-launches-new-commercials-featuring-nfl-star-69f19377e9.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px;
}

.banner-bg {
	background-color: rgba(241,100,33,.8);
	min-height: 300px;
	height: 100%
}

.brand-img {
	width: 200px;
	height: 100px;
	margin-top: 10px;
	border-radius: 3px;
}

@media (min-width: 900px) {
	#banner h1 {
		font-size: 0.9em;
	}
}